{% extends 'base.html.twig' %}

{% block title %}Conclusion index{% endblock %}

{% block body %}
    <h1>Conclusion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Text</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for conclusion in conclusions %}
            <tr>
                <td>{{ conclusion.id }}</td>
                <td>{{ conclusion.text }}</td>
                <td>
                    <a href="{{ path('conclusion_show', {'id': conclusion.id}) }}">show</a>
                    <a href="{{ path('conclusion_edit', {'id': conclusion.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('conclusion_new') }}">Create new</a>
{% endblock %}
